@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
:root {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Quicksand', sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.logOutBtn {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.logOutBtn:hover {
  border-color: #646cff;
}
.logOutBtn:focus,
.logOutBtn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.spinner{
  display: block;
    position: absolute;
    top: 0;
    color: #eee;
    left: 0;
    line-height: 80px;
    text-align: center;
    right: 0;
    bottom: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  .logOutBtn {
    background-color: #f9f9f9;
  }
}

#app {
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
}

.side-nav{
  position: absolute;
  height: 100vh;
  background-color: #eeee;
  min-width: 275px;
  max-width: 400px;
  overflow: hidden scroll;
  max-height: 100vh;
}
.model-nav{
  right: 0;
}
.button{
      right: 0;
      left: 0;
      bottom: 0;
      position: absolute;
      z-index: 1;
    transition: background-color .3s, box-shadow .3s;
    color: #757575;
}

.button:hover {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
}

.button:active {
  background-color: #eeeeee;
}

.button:focus {
  outline: none;
  box-shadow: 
    0 -1px 0 rgba(0, 0, 0, .04),
    0 2px 4px rgba(0, 0, 0, .25),
    0 0 0 3px #c8dafc;
}

.user-img{
  border-radius: 50%;
}

.toolbar{
  position: absolute;
  left: 10px;
  top: 80px;
  width: 32px;
  background: #eee;
  text-align: center;
  color: #888;
}
.toolbar-button{
    color: #555;
    border: 0px;
    margin: 0px;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #fff;
    outline: none;
}

.toolbar-button:hover{
  background-color: #ddd;
}


.focus{
  background-color: #ddd;
}
.toolbar-img{
  width: 16px;
  opacity: 0.5;
}

.tab-item{
  color: #888;
  background-color: #eee;
}

.tabs{
  background-color: #ddd;
    border-top: 1px solid #ccc;
}

#myCanvas{
  width: 100% !important;
}



.list-model .mb-0 > a {
  display: block;
  position: relative;
}

.list-model .mb-0 > a:after {
  content: "\f055";
  font-family: "Font Awesome 5 Free";
  position: absolute;
  right: 0;
  font-weight: 600;
}

.list-model .mb-0 > a[aria-expanded="true"]:after {
  content: "\f056";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
}



/* CSS */
.saveBtn {
  appearance: none;
  background-color: transparent;
  border-radius: 15px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  position: absolute;
  line-height: normal;
  margin: 0;
  min-width: 0;
  outline: none;
  color: #7bd500;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  max-width: 125px;
  will-change: transform;
  border: 1px solid #7bd500;
  top: 10px;
  right: 300px;
}

.saveBtn:disabled {
  pointer-events: none;
}

.saveBtn:hover {
  color: #fff;
  background-color: #7bd500;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  border: 1px solid #7bd500;

}

.saveBtn:active {
  box-shadow: none;
  transform: translateY(0);
}

.img-wrap{
  position: relative;
}

.img-des {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  color: #fff;
  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.img-wrap:hover .img-des {
  visibility: visible;
  opacity: 1;
}